@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.card {
    cursor: pointer
}

.hd {
    font-size: 25px;
    font-weight: 400
}

.card.hover,
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
    margin-bottom: 35px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

.card-title {
    font-weight: 400
}

button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}

.ft {
    margin-top: 25px
}

.chk {
    margin-bottom: 5px
}

.rck {
    margin-top: 20px;
    padding-bottom: 15px
}
 
@media only screen and (max-width: 700) {
  
    .row{
        flex-direction: column;
        row-gap: 10px;
    }
    .card {
        margin:10px;
        width: 100px;
    }
}