.container {
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 5%;
  }
  
  /* Centered text */
  .centered {
      color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }