.bgimage {
  width: 100%;
  height: 100vh !important;
  background: url("https://static.vecteezy.com/system/resources/previews/000/184/578/original/food-drive-with-cardboard-vector.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
body {
  background-color: white;
}

.business-accounts {
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: 1fr;
}
.search__wrapper button {
  width: 10%;
}
